<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Senders</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Paul</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-29T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Shaun</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-29T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-28T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kraig</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-29T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pavel</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Semen</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vasya</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Masha</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Polya</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ksenia</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sanya</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Yefim</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Kirill</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Nastya</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Vova</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>John</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Sam</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Karina</string>
			<key>Online</key>
			<true/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Natasha</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Lusya</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Name</key>
			<string>Max</string>
			<key>Online</key>
			<false/>
			<key>Messages</key>
			<array>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-22T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-24T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<false/>
					<key>Unread</key>
					<true/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-27T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>Привет</string>
					<key>Date</key>
					<date>2017-03-23T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>тестовый текст тестовый текст тестовый текст</string>
					<key>Date</key>
					<date>2017-03-25T20:39:28Z</date>
				</dict>
				<dict>
					<key>Outgoing</key>
					<true/>
					<key>Unread</key>
					<false/>
					<key>Message</key>
					<string>очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста очень много тестового текста</string>
					<key>Date</key>
					<date>2017-03-26T20:39:28Z</date>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
